.chatBot {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
  bottom: 100px;
  color: white;
  background: linear-gradient(to right,rgb(42, 39, 218), rgb(0, 204, 255));;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.chatBoxArea {
  position: relative;
  width: 300px;
  height: 440px;
  position: absolute;
  right: 30px;
  bottom: 160px;
  background-color: rgb(239, 241, 250);
  border-radius: 15px;
}
.header {
  width: 100%;
  height: 45px;
  background: linear-gradient(to right,rgb(42, 39, 218), rgb(0, 204, 255));;
  border-radius: 15px 15px 0 0;
}
.texting {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 0 0 15px 15px;
}
.textMessage {
  resize: none;
  margin-left: 20px;
  border: none;
  width: 180px;
}
.icons {
  display: flex;
  align-items: center;
}
.icons > * {
  cursor: pointer;
  size: 80%;
}


.sendIcon{
  color: red;
}
.discussionArea {
  height: 360px;
  position: relative;
  overflow: auto;
}

.mailDiscreption {
  margin: 20px;
  font-size: 18px;

  font-weight: 400;

  line-height: 28.8px;

  color: rgb(8, 15, 26);
}
.btnSend {
   background: linear-gradient(to right,rgb(42, 39, 218), rgb(0, 204, 255));;
  color: white;
  width: 223px;
  height: auto;
  border: none;
  border-radius: 2px;
  margin: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  cursor: pointer;
}

.textSender{
  background-color:white;
  padding: 5px;
  width: auto;
  height: auto;
  border-radius: 10px;
  max-width: 200px;
  text-align: start;
  margin: 5px 5px 5px 0px;
  min-height: 25px;
}
.textReciver{
  background-color:rgb(39, 132, 218);
  padding: 5px;
  height: auto;
  border-radius: 10px;
  max-width: 200px;
  text-align: start;
  margin: 5px 0px 5px 0px;
  min-height: 25px;

}
.picSender{
  display: none;
}
.picReciver{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}
.messages{
  display: flex;
flex-direction: column;
}
.msgSender{
  display: flex;
align-items: center;
justify-content: end;
margin-right: 5px;
min-height: 0px;
}
.msgReciver{
  display: flex;
align-items: end;
justify-content: start;
}
